#
# This file is managed by Puppet. Any manual changes may be lost.
#

[mysql]
# Drupal likes to send large packets.
max_allowed_packet = 32m

[mysqld]
# The configs below are baked into the Docker container. CHANGING THEM HERE HAS
# NO EFFECT. This is becaus the Docker container must run mysqld directly and
# not mysqld_safe. mysqld_safe normally passes these arguments to mysqld, but
# mysqld_safe swallows SIGTERM, resulting in MySQL always shutting down
# uncleanly. Therefore our container runs mysqld directly with these settings.
basedir=/usr
plugin_dir=/usr/lib64/mysql/plugin
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
user=mysql
log_error=/dev/stderr
pid_file=/tmp/mysqld.pid
open_files_limit=65534
# End hardcoded configs.

# Drupal likes to send large packets.
max_allowed_packet = 32m

# Baseline definitions
bind-address=0.0.0.0

#Slow Log
slow_query_log=1
slow_query_log_file=/dev/stdout
log_queries_not_using_indexes=0
long_query_time=5

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic_links=0

# Optimizations by BlackMesh
# Disabled by default, enable when needed
# innodb_log_file_size=2G
# Only uncomment this line after discussing the impact with the customer.
innodb_flush_log_at_trx_commit=2
skip_name_resolve

# Disabled by default on new machines; nothing should use these any more
# old_passwords=1

# Enabled by default
default_storage_engine=innodb
innodb=FORCE
innodb_file_per_table
innodb_flush_method=O_DIRECT
tmp_table_size=32M
max_heap_table_size=32M
key_buffer_size=64M
query_cache_size=0
query_cache_limit=4M
query_cache_min_res_unit=1K
table_open_cache=4096
thread_cache_size=16

# Set the time zone to UTC.
default_time_zone='+00:00'

[mysqldump]
routines
events
single_transaction
