/**
 * @file
 * Typography not included in bootstrap
 */
h1, .h1 {
  color: $red;
}
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $purple;
}

.pagination a {
  font-family: $font-family-sans-serif;
}

.node-readmore a {
  @extend .btn-primary;
  @extend .btn;
}

ul, ol {
  @extend .list-unstyled;
}
li { list-style: none; }

.list-styled,
.wrapped-list {
  li { 
    padding-left: 15px;
    position: relative;
  }
  li:before {
    content: "\2022";
    color: lighten($gray-dark, 40%);
    position: absolute; left: 0; top: 0;
    line-height: 22px;
    font-size: 22px;
  }
}
.wrapped-list li { margin-bottom: $line-height-computed / 2; }


figcaption,
figure {
  font-size: ($font-size-base - 1);
  font-style: italic;
}

q {
  font-style: italic;
}

.content {
  img { padding: $line-height-computed / 2; }
  p + img { padding-top: 0px } // remove top padding as paragraphs already provides it
  img:not(.pull-right) { padding-left: 0 }
  img.pull-right { padding-right: 0 }
}

.chosen-container.form-control {
  padding: 0;
  border: none;
  background-color: transparent;
  display: block !important;
  width: 100% !important;
  .chosen-choices {
    @extend .form-control;
  }
}

.form-control:focus {
  @include box-shadow(0 0 0 #fff !important);
}

