/**
 * @file
 * oa_radix/drupal/contrib css overides + all the hacks and ugly css that should be fix at some point.
 */
 
.container .container {padding: 0; width: auto;}

.panel-display.container { padding: 0 !important; }

/**
 * Panels IPE 
 */
div#panels-ipe-control-container {
  box-shadow: 0 0 0 #fff;
  position: relative;
  top: auto;
  background-color: transparent;
  .panels-ipe-button-container { text-align: right;}
}

