/**
 * @file
 * This part of compass_radix-3.x, we're borowing some styles to fix some panels issues
 */

// // Page header
// // --------------------------------------------------
// .page-header {
//   margin: 0 0 18px;
//   h1 {
//     margin: 0;
//   }
// }
// .page-title-hidden {
//   .page-header {
//     display: none;
//   }
// }

// // Breadcrumb
// // --------------------------------------------------
// .breadcrumb {
//   a {
//     i {
//       display: none;
//     }
//   }
// }

// // Tabs
// // --------------------------------------------------
// .tabs, .nav-tabs {
//   margin: 0 0 18px;
// }

// // Action Links
// // --------------------------------------------------
// .action-links {
//   list-style: none outside none;
//   margin: 0 0 18px;
//   padding: 0;
//   @include clearfix();
//   > li {
//     float: left;
//     margin: 0 10px 0 0;
//   }
// }

// // Vertical Tabs
// // --------------------------------------------------
// div.vertical-tabs {
//   border: none;
//   border: 1px solid #DDD;
//   outline: none;
//   @include border-radius(4px);
//   ul.vertical-tabs-list {
//     border: none;
//     margin-top: 20px;
//     margin-bottom: 20px;
//     outline: none;
//     li {
//       border: none;
//       background: none;
//       outline: none !important;
//       @include border-radius(4px 0 0 4px);
//       border: 1px solid;
//       border-color: #fff #ddd #fff #fff;
//       &.selected {
//         border-color: #ddd #fff #ddd #ddd;
//       }
//       a {
//         outline: none !important;
//         @include border-radius(4px 0 0 4px);
//         &:hover {
//           color: #fff;
//           background: $link-color;
//           text-decoration: none;
//           strong {
//             text-decoration: none;
//             color: #fff;
//           }
//         }
//       }
//     }
//   }
//   .vertical-tabs-panes {
//     padding: 20px 10px;
//   }
//   .form-type-textfield input {
//     width: 90%;
//     @include box-sizing(content-box);
//   }
// }

// // Tables
// // --------------------------------------------------
// table {
//   width: 100%;
//   margin-bottom: $line-height-base;
//   // Cells
//   th,
//   td {
//     padding: 8px;
//     line-height: $line-height-base;
//     text-align: left;
//     vertical-align: top;
//     border-top: 1px solid $table-border-color;
//     &.checkbox {
//       text-align: center;
//       display: table-cell;
//       min-height: 0;
//       margin-bottom: 0;
//       padding-left: 0;
//       input {
//         float: none !important;
//         margin-left: 0 !important;
//       }
//       div.checkbox {
//         text-align: center;
//         min-height: 0;
//         margin-bottom: 0;
//         padding-left: 0;
//       }
//     }
//   }
//   th {
//     font-weight: bold;
//   }
//   // Bottom align for column headings
//   thead th {
//     vertical-align: bottom;
//   }
//   // Remove top border from thead by default
//   caption + thead tr:first-child th,
//   caption + thead tr:first-child td,
//   colgroup + thead tr:first-child th,
//   colgroup + thead tr:first-child td,
//   thead:first-child tr:first-child th,
//   thead:first-child tr:first-child td {
//     border-top: 0;
//   }
//   // Account for multiple tbody instances
//   tbody + tbody {
//     border-top: 2px solid $table-border-color;
//   }
// }

// // Links
// // --------------------------------------------------
// ul.links {
//   padding: 0;
//   list-style: none outside none;
//   &.inline {
//     margin: 0;
//     li {
//       margin: 0 10px 0 0;
//       padding: 0;
//     }
//   }
// }

// // Carousel
// // --------------------------------------------------
// .carousel {
//   .carousel-control {
//     z-index: 100;
//   }
//   .carousel-indicators li {
//     float: none;
//     margin-left: 3px;
//     margin-right: 3px;
//     a {
//       display: none;
//     }
//   }
//   .carousel-caption {
//     h1, h2, h3, h4, h5, h6 {
//       color: white;
//     }
//   }
// }

// // Pager
// // --------------------------------------------------
// .item-list {
//   ul.pagination {
//     margin: 20px 0;
//     > li {
//       margin: 0;
//       display: inline-block;
//       padding: 0;
//       position: relative;
//       > a, > span {
//         padding: 6px 12px;
//         @include border-radius(inherit);
//         &.progress-disabled {
//           float: left;
//         }
//       }
//       .ajax-progress {
//         float: left;
//         padding: 6px 5px 6px 10px;
//       }
//     }
//   }
// }

// // Misc Fixes
// // --------------------------------------------------
// .ctools-dropdown-container {
//   hr {
//     margin: 0;
//   }
// }

// ul.nav,
// ul.navl li,
// ul.dropdown-menu,
// ul.dropdown-menu li {
//   list-style: none outside none !important;
// }

// // Drupal Navbar
// // --------------------------------------------------
// .drupal-navbar .navbar-bar,
// .drupal-navbar .navbar-tray-vertical > .navbar-lining:before,
// .drupal-navbar .navbar-tray-horizontal {
//   @include box-shadow(none);
// }
// .drupal-navbar .navbar-tray-vertical,
// .drupal-navbar .navbar-tray-vertical > .navbar-lining:before {
//   bottom: 0;
//   width: 240px !important;
// }
// @media only screen and (min-width: 38.125em) {
//   body.navbar-tray-open.navbar-vertical {
//     margin-left: 240px !important;
//   }
// }

// // Navbar Styling for Panopoly.
// // --------------------------------------------------
// a#navbar-link-admin-panopoly {
//   &:before {
//     background-image: url("../images/icon/icon-panopoly.png");
//   }
//   &.active:before {
//     background-image: url("../images/icon/icon-panopoly-active.png");
//   }
// }
// a#navbar-link-admin-apps {
//   &:before {
//     background-image: url("../images/icon/icon-apps.png");
//   }
//   &.active:before {
//     background-image: url("../images/icon/icon-apps-active.png");
//   }
// }

// Ctools Modal
// --------------------------------------------------
body.ctools-modal-open {
  overflow: hidden;
}
#modalContent {
  .modal-content {
    width: 100%;
    overflow: hidden;
    @include box-shadow(none !important);
  }
  #modal-content {
    overflow: auto;
    width: 100% !important;
    background: white;
  }
  .panels-add-content-modal {
    background: none;
    padding: 0;
    height: 100%;
    margin: -20px -20px 0;
    width: 100%;
    position: absolute;
  }
}
#modalContent {
  .panels-section-columns, 
  .panels-categories-description {
    border: none;
  }
  .panels-section-column-categories {
    margin-left: 0;
    border-right: 1px solid #ccc;
    height: 100%;
    background: white;
    overflow: auto;
    padding-bottom: 20px;
    .btn {
      border: 1px solid $gray-light !important;
      line-height: inherit;
      margin: 0;
      text-align: left;
    }
  }
  .panels-categories-box {
    border: 0;
    a.btn {
      padding: 5px 10px;
    }
    a.active {
      background: $gray-lighter;
      @include box-shadow(none);
    }
  }
  .panels-root-content-box {
    a.btn {
      padding: 5px 10px;
    }
  }
  .panels-categories-description {
    padding: 20px;
  }
  .panels-section-columns {
    padding-bottom: 20px;
  }
}
#modal-content fieldset.widget-preview {
  margin-top: 18px;
  margin-bottom: 0;
  position: static;
  border: 1px solid #ddd;
  .panel-heading {
    position: relative;
    .btn {
      position: absolute;
      right: 10px;
      top: 5px;
    }
  }
}
#modal-content .ctools-auto-submit-full-form {
  fieldset {
    width: 48%;
    display: block;
    fieldset {
      width: 100%;
    }
    &.widget-preview-single {
      float: right;
      margin-left: 1em;
      margin-top: 0;
      width: 48%;
      max-width: 48% !important;
    }
  }
  .form-actions {
    float: right;
    clear: right;
    width: 48%;
    max-width: 48%;
    text-align: right;
  }
}

#contextual-tabs ul.dropdown-menu ul li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  white-space: nowrap;
}


// // Custom modal form overrides.
// #modal-content {
//   .form-item-view-settings {
//     display: block;
//   }
//   .form-item-exposed-use-pager {
//     display: block;
//   }
//   #panopoly-form-widget-preview {
//     width: 50%;
//     float: right;
//     .container {
//       width: auto;
//     }
//   }
// }

// // Calendar
// // --------------------------------------------------
// .calendar-calendar {
//   @extend .col-md-12;
//   table.mini {
//     @extend .table-bordered;
//     td {
//       border: 1px solid $gray-lighter !important;
//       padding: 5px;
//     }
//   }
// }
// .view-header {
//   .date-nav-wrapper {
//     h3 {
//       margin-top: 5px !important;
//       margin-bottom: 0;
//     }
//   }
// }
