.view-display-id-page_special_announcements,
.view-display-id-page_featured_home {
  h2 { margin-bottom: 0; }
  .views-field-field-published-date { margin-bottom: $padding-small-vertical * 2;} 
  li.views-row {
    margin-bottom: $padding-large-vertical * 2;
  }
}