.view-display-id-panel_pane_featured_products {
  .views-row {
    position: relative;
    line-height: 18px;
    margin-bottom: $padding-large-vertical;
    &:nth-child(1n+2){
      border-top: 1px solid #fff;
      padding-top: $padding-large-vertical;
    }
    &:last-child {
      margin-bottom: 0;
    }
    img {
      position: relative;
      float: left;
      max-width: 122px;
      padding: 0;
      margin-right: 20px;
    }
    .content {
      overflow: hidden;
      font-size: 11px;
      a {
        font-weight: bold;
        font-size: 12px;
        margin-bottom: $padding-base-vertical;
        display: block;
        &:after {
          @extend .icons-arrow:before;
          @extend .icons;
          margin-left: 5px;
          color: $brand-tertiary;
        }
      }
    }
  }
}

// Override .nav that are set in blocks menu
.menu-block-wrapper {
  .nav > li > a {
    padding: 0;
  }
}