.btn {
  font-family: $font-family-sans-serif;
}

.btn-inverse {
  color: $btn-inverse-color !important;
  background-color: $btn-inverse-bg;
  border: $btn-inverse-border;
  line-height: 20px !important;
}

form .form-actions .btn,
form .form-actions .node-readmore a,
.node-readmore form .form-actions a {
  margin-right: 10px;
}

.node-readmore a {
  @extend .btn-primary;
  @extend .btn;
}

.filter-btn {
  margin-bottom: $padding-base-vertical;
  .btn {
    background: $brand-tertiary;
    color: $white;
    text-transform: uppercase;
    .caret {
      @extend .icons-morearrowdown;
      border: 0;
      height: auto; width: auto;
      font-family: icons;
      margin-left: 10px;
      vertical-align: top;
      font-weight: normal;
    }
    &:hover,
    &:active {
      background: darken($brand-tertiary, 10%);
    }
  }
}

.pager-load-more {
  text-align: left;
  clear: left;
  li > a {
    background: $btn-primary-bg;
    border: 0;
    border-radius:  $border-radius-base;
    color: $btn-primary-color;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    &:after {
      @extend .icons-morearrow:before;
      font-family: icons;
      margin-left: 10px;
      vertical-align: top;
    }
    &:hover,
    &:active {
      background: #af1407;
    }
  }
}




