.btn-inverse {
  color: $btn-inverse-color !important;
  background-color: $btn-inverse-bg;
  border: $btn-inverse-border;
  line-height: 20px !important;
}

form .form-actions .btn,
form .form-actions .node-readmore a,
.node-readmore form .form-actions a {
  margin-right: 10px;
}

.pager-load-more {
  text-align: left;
  clear: left;
  li > a {
    background: $btn-primary-bg;
    border: 0;
    border-radius:  $border-radius-base;
    color: $btn-primary-color;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    &:hover {
      background: #af1407;
    }
  }
}




