/**
 * Calender field styles
 */

/* OA Event Date */
.iasc-event-date-wrapper {
  font-family: $font-family-sans-serif;
  overflow: hidden;
  margin-right: $padding-large-vertical;
  background-color: $calendar-icon-bg;
  text-align: center;
  width: 80px;
  line-height: 18px;
  float: left;
  margin-right: 20px;
}
.iasc-event-date-month-wrapper {
  background: $red;
  padding: 3px 0;
  margin-bottom: 10px;
}
.iasc-event-date-month {
  color: #fff;
  padding-top: 10px;
}
.iasc-event-date-day {
  font-size: 26px;
  color: $red;
}
.iasc-event-date-year-wrapper {
  color: $red;
  padding-bottom: 5px;
}

// OA Media
.pane-node-field-oa-media {
  .field-label {
    font-weight: normal;
    margin-bottom: 5px;
  }
  .icons-page {
    font-size: 15px;
    margin-right: 10px;
    vertical-align: baseline;
  }
}

