/**
 * Calender field styles
 */

/* OA Event Date */
.iasc-event-date-wrapper {
  font-family: $font-family-sans-serif;
  overflow: hidden;
  margin-right: $padding-large-vertical;
  background-color: $calendar-icon-bg;
  text-align: center;
  max-width: 80px;
  line-height: 18px;
  float: left;
  margin-right: 20px;
}
.iasc-event-date-month-wrapper {
  background: $red;
  padding: 3px 0;
}
.iasc-event-date-month {
  color: #fff;
  font-weight: 400;
  padding-top: 10px;
}
.iasc-event-date-day {
  font-size: 26px;
  color: $red;
}
.iasc-event-date-year {
  color: $red;
}
