header.header {
  background: #ADCFCB;
  @include background(
    linear-gradient(to top, #fff 0px, #fff 20px, #ADCFCB 20px, #ADCFCB 27px, #fff 27px, #fff 29px, #ADCFCB 29px)
  );
  .top {
    position: relative;
    padding: 10px 0;
    @media screen and (min-width: $screen-sm-min) {
      padding: 22px 0 11px 0;
    }
  }
  .search-form {
    border-top: 0;
    border-bottom: 0;
    @include box-shadow(rgba(#fff, .0) 0 0 0);

    @media screen and (max-width: $screen-sm-min) {
      @include make-xs-column(6);
      @include make-xs-column-offset(6);
      padding: 0 0 0 10px;
      float: none !important;
    }
    @media screen and (min-width: $screen-sm-min) {
      clear: left;
    }
  }
}

.brand {
  display: block;
  @media screen and (max-width: $screen-md-min) {
    margin-bottom: $padding-large-vertical / 2;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}


