.view-display-id-panel_pane_membership_logos {
  h4 {
    @extend .panel-heading;
    background-color: $brand-primary;
    clear: both;
    color: #fff;
    margin: 0;
  }
  ul {
    @include clearfix;
    @extend .panel-body;
    margin-bottom: 0;
    padding: 0 20px;
    li {
      position: relative;
      float: left;
      max-width: 120px;
      min-width: 100px;
      width: 100%;
      text-align: center;
      padding: 0 8px;
    }
    a {
      height: 100px;
      line-height: 100px;      
    }
    img {
      vertical-align: middle;
      margin-bottom: 0;
      padding: 0;
      width: auto; 
    }
  }
}
