.view-display-id-panel_pane_membership_logos {
  // remove padding and color from parent
  // margin: -20px -30px; 
  // background: #fff;
  h4 {
    @extend .panel-heading;
    background-color: $brand-primary;
    clear: both;
    color: #fff;
    margin: 0;
  }
  ul {
    @include clearfix;
    @extend .panel-body;
    background-color: $panel-bg;
    margin-bottom: 20px;
    li {
      position: relative;
      float: left; 
      min-width: 140px;
      .radix-layouts-contentfooter & {
        min-width: 108px;
      }
      text-align: center;
      padding: 0 8px;
    }
    a {
      height: 100px;
      line-height: 100px;      
    }
    img {
      vertical-align: middle;
      margin-bottom: 44px;
      padding: 0;
      width: auto; 
    }
  }
}
