.navbar { 
  clear: left; 
  a {
    font-family: $font-family-sans-serif;
  }
  
  .icons-home { 
    position: relative;
    font-weight: 900;
    letter-spacing: initial;      
    @media screen and (min-width: $screen-sm-min) {
      padding-left: 30px;
      &:before {
        @include icomoon();
        font-size: 20px; 
        top: 8px;
        left: 0;
        position: absolute;
      }
    }
  }
}

.nav-holder {
  background: $gray-lighter;
  @include border-radius($border-radius-base);
  border: 0px;
}


  .expanded { @extend .dropdown; }
  a.menu { @extend .dropdown-toggle; }
  .navbar ul.menu { @extend .dropdown-menu; } 


.navbar-top {
  ul {margin-bottom: 0;}
  a {  
    color: $brand-primary;
    &:before { font-size: 24px; }
    span { display: none; }
    @media screen and (min-width: $screen-lg-min) {
      &:before { font-size: 19px; }
    }
    padding: 5px;
    text-decoration: none;
    &:hover {
      color: lighten($brand-primary, 10%);
    }
  }
  @media screen and (max-width: $screen-xs-min) {
    a:before { font-size: 19px; }
  }
  @media screen and (max-width: $screen-sm-min) {
    padding-left: 0;
    li {
      width: 25%; 
      padding: 0;
      text-align: center;
      float: left;
    }
    .logged-in & li {
      width: 20%; 
    }
  }
  @media screen and (min-width: $screen-sm-min) {
    width: auto !important;
  }
}



