.navbar { 
  clear: left; 
  border-width: 2px;

  @media screen and (max-width: $screen-md-min) {
    min-height: 36px; 
    .navbar-toggle {
      margin: 0;
    }
  }

  @media screen and (min-width: $screen-sm-min) { 
    float: right;
  }  
  
  .navbar-collapse {
    @include box-shadow(#fff 0 0 0);
    border: 0;
    padding: 0;
  }

  li {
    .no-csstransitions & {
      a { position: relative; }
      > a:after {
        content: "";
        background: image-url('nav-seperator.png') no-repeat 50% 100%;
        right: -8px;
        top: 12px;
        position: absolute;
        width: 15px; 
        height: 31px;
      }
    }   
  }

  li.last {
    a:after {
      display: none;
    }
  }

  li:not(:last-child) {
    position: relative;
    @media screen and (min-width: $screen-md-min) {      
      .csstransitions & {
        > a:after {
          @include rotate(25deg);
          content: "";
          width: 1px; height: 60%;
          position: absolute;
          top: 20%; right: 0;
          background: #fff;
          opacity: .5;
        }
      }
    }
  }
  
  .navbar-nav {
    margin: 0;
    @media screen and (max-width: $screen-sm-min) {
      a.open,
      li.open > a {
        background-color: #7eb5af !important;
      }
    }
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
      > li > a {
        padding: 10px 13px;
      }
    }
    @media screen and (min-width: $screen-md-min) {
      > li > a {
        padding-right: 13px;
        padding-left: 13px;
      }
    }
  }
  a {
    font-family: $font-family-sans-serif;    
    text-transform: uppercase;
    font-size: 14px;
    @media screen and (min-width: $screen-sm-min) { font-size: 10px; }    
    @media screen and (min-width: $screen-md-min) { font-size: 14px; }
    @media screen and (min-width: $screen-lg-min) { font-size: 16px; }
  }

  .dropdown-menu > li > a {
    color: #fff; // overrides the colors for subnavs on desktop
    @media screen and (max-width: $screen-sm-min) {
      white-space: normal;
    }
    @media screen and (min-width: $screen-sm-min) {
      color: $brand-primary;
    }
  }
}

a.menu { @extend .dropdown-toggle; }
.navbar ul.menu { @extend .dropdown-menu; } 

// Utility Navigation
.navbar-top {
  ul {
    background-color: #96c1bc;
    border: 1px solid #b6d5d2;
    margin-bottom: 0; 
    margin-left: 0;
  }
  a {  
    color: $brand-primary;
    font-size: 19px;
    padding: 5px;
    text-decoration: none;
    span { display: none; }
    &.icons-login span, &.icons-logout span {
      display: inline;
      font-size: $font-size-h4;
      vertical-align: middle;
      padding-left: 6px;
      font-family: $font-family-sans-serif;
    }
    &:hover,
    &:active { color: lighten($brand-primary, 10%);
    }
  }

  @media screen and (max-width: $screen-sm-min) {
    @include make-xs-column(6);
    padding: 0 10px 0 0;
    li {
      width: 25%; 
      padding: 0;
      text-align: center;
      float: left;
    }
    a {
      padding: 5px 0 4px;
      &.icons-login span, &.icons-logout span {
        display: none;
      }
    }
    .logged-in & li {
      width: 20%; 
    }
  }
  @media screen and (min-width: $screen-sm-min) {
    position: relative;
    float: right;
  }
}

// OG Menu
.menu-name-og-menu-single {
  .nav-pills > li.active > a {
    color: $link-color;
    background: transparent;
  }
  .nav-stacked {
    padding-left: 10px;
  }
}



