.navbar { 
  clear: left; 
  a {
    font-family: $font-family-sans-serif;
  }
  .icons-home { font-size: 20px; }


}

.nav-holder {
  background: $gray-lighter;
  @include border-radius($border-radius-base);
  border: 0px;
}


  .expanded { @extend .dropdown; }
  a.menu { @extend .dropdown-toggle; }
  ul.menu { @extend .dropdown-menu; } 


.navbar-top {
  @media screen and (min-width: $screen-lg-min) {
    width: auto !important;
  }
  ul {margin-bottom: 0;}
  a {  
    color: $brand-primary;
    &:before { font-size: 24px !important; }
    span { display: none; }
    @media screen and (min-width: $screen-lg-min) {
      &:before { font-size: 19px; }
    }
    padding: 5px;
    text-decoration: none;
    &:hover {
      color: lighten($brand-primary, 10%);
    }
  }
}



