/**
 * @file
 * Node styles
 */

/**
 * Contact Node
 */
 .view-id-search_contacts,
.node-contact {
  h2 {
    display: none;
  }
  // Override default "all Featured image listing should be center align".
  .panel-primary .panel-body & { text-align: left; }
  .name {
    margin-bottom: 0;
    div, span {
      display: inline;
      &:after {
        content: " ";
      }
    }
  }
  .field-label { word-wrap: normal; }
  .field-label-inline div { display: inline; float: initial; }
  .views-label { font-weight: bold; }
  .name, .field-name-field-position {
    text-align: center;
  }
  .field-name-field-position { 
    display: block;
    margin-bottom: 1rem;
  }
  .field-name-body {
    text-align: center;
    display: block;
    margin-bottom: 2rem;
  }
  .field-type-addressfield {
    div:after { content: " "; }
  }
  .field-collection-container {
    border: none; margin-bottom: 0;
    .field-collection-view {
      padding-top: 0;
      display: block;
      border: none; margin-bottom: 0;
    }
  }
}
.node-contact,
.view-search-contacts {
  h2 { display: none; }
  h4 { margin: 0; }
  .views-row:not(:last-child),
  li:not(:last-child) {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
  }
}

.view-display-id-panel_pane_contacts {
  .views-field-field-photo {
    position: relative;
    float: left;
    margin-right: 20px;
  }
  .text {
    position: relative;
    overflow: hidden;
  }
}


.view-search-contacts {
  font-family: $font-family-sans-serif;
}

.field-name-field-organisation {
  text-align: center;
  margin-bottom: $padding-base-vertical;
}

/* Annoucements */
.node-type-announcement {
  .pane-node-title h1,
  .title {
    margin: 0;
  }
  .field-name-field-published-date {
    margin-bottom: 10px;
  }
  .node-oa-wiki-page h2 { display: none; }
}
