/**
 * @file
 * Panel Styles
 */

.panel-default {
  border: none;
  .panel-heading { text-transform: uppercase; }
}
.panel-primary {
  .panel-heading { text-align: center; }
}

.panel-success {
  .btn { background-color: $green; }
}




