.view-filters {

  margin-bottom: $padding-large-vertical;

  .container-inline-date .form-item {
    width: 100%;
    div, input { width: 100%; }
  }
  
  // These field needs to be pushed down beacause they don't have a label but we want them aligned.
  @media screen and (min-width: $screen-sm-min) {
    #edit-field-oa-date-value-1-wrapper,
    #edit-field-published-date-value-1-wrapper,
    #edit-field-oa-date-value2-wrapper {
      .element-invisible {
        color: transparent;
        position: relative !important;
        height: auto;
        overflow: visible;
      }
    }
  }

  .views-exposed-widget { 
    width: 100%;
    padding-right: 0;
    margin-bottom: 0 !important;

    .select2-container {
      width: 100% !important;
    }
    
    @media screen and (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
      width: 50%;
      &:nth-child(odd) {
        padding: 10px 10px 0 0;
        clear: left;
      }
      &:nth-child(even) {
        padding: 10px 0 0 10px;
      }
    }
    @media screen and (min-width: $screen-md-min) {
      width: 25%;
      padding-right: 20px;
      .view-iasc-document &:not(.views-submit-button) {
        width: 33%;
        float: left;
      }
      .help-block {
        margin-bottom: 0;
      }
    }
  }

  .views-reset-button,
  .views-submit-button {
    width: 100%;
    padding-top: 2rem;
    padding-right: 0 !important;
    @media screen and (min-width: $screen-md-min) { padding: 0 20px 0 0 !important; }
    margin-top: 10px;

    .view-oa-event-list & {
      position: relative;
    }

    input, .form-item {
      float: right;
    }
    input[type="submit"] {
      margin: 0 0 0 2rem;
    }
    .form-type-checkbox {
      top: 8px;
    }
  }
}

.view-iasc-document {
  .views-widget-filter-field_category_tid {
    clear: left;
  }

  &.view-display-id-panel_pane_featured_products {
    .more-link {
      padding-top: 10px;
    }
  }
}

/* Display the sort arrows in responsive tables. */
.view .view-content .table-responsive thead th a img {
  padding: 0;
}