.view-display-id-panel_pane_space_meetings,
.view-oa-event-list {
  @include clearfix;
  margin-bottom: $padding-large-vertical * 2;
  h4.title {
    margin: 0 0 5px;
  }
  .iasc-event-date-wrapper,
  .views-field-field-oa-date {
    position: absolute;
    left: 0; top: 0;
  }

  .views-row {
    padding-left: 80px + $padding-large-vertical;
    margin-bottom: $padding-large-vertical * 2;
    position: relative;
    @media screen and (min-width: $screen-xs-min) {
      clear: none;
      float: left;
      width: 50%;
      &.views-row-odd { padding-right: $padding-large-vertical; clear: left;}
    }
  }


}
