/**
 * @file
 * Open Atrium Specific Variables
 */

/* Buttons */
$btn-inverse-color:              #fff;
$btn-inverse-bg:                 darken($purple, 5%);
$btn-inverse-border:             $btn-inverse-bg; 






