/**
 * @file
 * Open Atrium Specific Variables
 */

/* Buttons */
$btn-inverse-color:              #fff;
$btn-inverse-bg:                 darken($purple, 5%);
$btn-inverse-border:             $btn-inverse-bg; 

/* Calender / Events */
$oa-event-date-bg: #f1f1f1;
$oa-event-date-border: 0;
$oa-event-date-radius: $border-radius-base;

$oa-event-date-month-wrapper-bg: $red;
$oa-event-date-month-wrapper-margin: 0px;

$oa-event-date-day-color: $red;




